
@import global

.task-item
    @extend %global-font
    margin: 0
    display: flex
    flex-direction: column
    align-items: center
    // width: 100%
    overflow-x: hidden
    // heigth: Auto
    min-height: 32px
    border-bottom: 1px solid transparent
    padding: 8px
    &:hover
        background-color: #fcfcfc
        border-bottom: 1px solid #efefef

        .metadata
            display: flex


        .context_button.delete
            display: block
            animation: showdelbutt .2s ease-in .1s forwards
            -webkit-animation: showdelbutt .2s ease-in .1s forwards

    .content
        text-align: left
        display: flex
        flex-direction: row
        align-self: stretch
        justify-content: center
        min-height: 36px

        &.completed
            .text-container
                .task-text
                    text-decoration-line: line-through
                    color: $textLightGrey

        .checkbox
            order: 0
            $checkbox_padding: 16px
            margin: 0 $checkbox_padding
            display: flex
            align-items: center
            flex-grow: 0

            .task-check
                margin: 4px
                transform: scale(1.5)

        .text-container
            display: flex
            flex-direction: row
            align-items: middle
            padding: 4px 0
            flex-grow: 6

            .edit-task
                @extend %input
                // margin: -6px 0 0 2px
                margin: 0
                flex-grow: 1
                width: calc(100% - 67.5px - 36px)
                position: absolute
                z-index: -1
                background-color: $white

            .task-text
                height: auto
                cursor: pointer

                font-style: normal
                font-weight: 400
                font-size: 14px
                line-height: 16px

                display: flex
                align-items: center

                color: #303035

                flex: none
                order: 0
                flex-grow: 1
                margin: 0 10px


    &.newTask
        margin: 0
        .content
            .text-container
                padding: 0
                .edit-task
                    position: relative
                    flex-grow: 1
                    margin: 0 0 0 2px
                    width: 80%
                    z-index: 100

    &.edit_now
        &:hover
            .context_button.delete
                display: none

        .content

            .context_button
                display: none

            .text-container
                min-height: 16px
                // padding: 2xp 0

                .checkbox
                    display: none

                .edit-task
                    position: relative
                    flex-grow: 1
                    margin: 0 0 0 2px
                    z-index: 100

                .task-text
                    display: none


    .metadata
        display: none
        font-size: 9px
        color: $textGrey
        flex-grow: 0
        flex-direction: column
        align-self: center
        text-align: right
        margin: 0 8px
        .time
            flex-grow: 1
            align-self: stretch
            text-align: right
            display: block
            margin: 0
            // align-items: flex-end

    .context-actions
        display: flex
        flex-grow: 0

        .context_button
            @extend %button
            align-self: center
            flex-grow: 1

        .context_button.delete
            // position: absolute
            display: none
            opacity: 0
